<mat-card>
  <mat-card-header>
    <mat-card-title>To Do List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let task of tasks">
        <section>
          <mat-checkbox
            [checked]="task.done"
            color="primary"
            (change)="markAsDone(task)"
            >Mark as done</mat-checkbox
          >
          <div mat-line>{{ task.name }}</div>
          <div mat-line>{{ task.description }}</div>
        </section>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<app-done-list-component
  [tasks]="completedTasks"
  (taskToUndone)="getRevertedUndoneTasks($event)"
></app-done-list-component>
